.board-container{
    overflow: scroll; 
    width: 95vw;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style-type: none;
    margin: 10px 25px;
  }
  
  li {
    height: 400px;
    width: 300px;
    background-color: #a97073;
  }

  // .graph-button{
  //   margin: 10px;
  // }

  // .tweet-button {
  //   margin: 10px;
  // }

  .board-img {
    height: 400px;
    width: 300px;
    object-fit: fill;
  }

  
