.board-container{
    overflow: scroll; 
    width: 95vw;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style-type: none;
    margin: 10px 25px;
  }
  
  li {
    height: 400px;
    width: 300px;
    background-color: #a97073;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .board-img {
    display: block;
    justify-content: center;
    object-fit: cover;
    height: 300px;
    width: 200px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  
