.graph-popup-container{
    background-color: #C4C4C4;
    width: 744px;
    height: 744px;
    margin: 50px auto;
    // position: absolute;
}
.exit-graph {
    color: #564840;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}