.circle{
      background-color: #564840;
      border: none;
      border-radius: 50%;
      height: 40px;
      width: 40px;
}
.circle:hover{
      background-color: #eae8e5;
}

.graph-icon-img {
      height: 17px;
      width: 19px;
}

