.circle{
    background-color: #564840;
    border: none;
    border-radius: 50%;
    height: 40px;
    margin: 15px 15px 15px 80px;
    text-align: center;
    width: 40px;
}
.circle:hover{
    background-color: #eae8e5;
}