.twitter-popup-container{
    background-color: #a97073;
    width: 744px;
    height: 744px;
    margin: 50px auto;
    // position: absolute;
}
.exit-tweet{
    color: #564840;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.art-img{
    height: 700px;
    object-fit: fill;
    width: 700px;
}